{% extends "MasterTemplate.html" %}
{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'HomePageCss.css' %}"> 
{% endblock %}


{% block jsfile %}
<script type="text/javascript" src="{% static 'HomePageJS.js' %}" defer></script>
{% endblock %}


{% block content %}
<!---Heading for the homepage-->
<h1 style="text-align: center; font-size: 3.5em;">Vocab Vault</h1>

<h1 id="wordoftheday">Onomatopoeia</h1>
<!--content box to center and position the information-->

<div class="content">
    <div id="explainbox"> <!--box for the important information--> 
        <h3> Pronounciation: </h3>
        <div>/ˌɒnəmatəˈpiːə/</div>
        <h3> Part of speech: </h3>
        <div>Noun</div>
        <h3> Meaning:</h3>
        <div class="description">
            <div class="definition">
                The formation of a word from a sound associated with what is named (e.g. cuckoo, sizzle). "A relatively large number of bird names arise by onomatopoeia."
            </div>
            <div class="usage">
                The use of onomatopoeia for literary effect. "The language in her picture books is notable for its playfulness and onomatopoeia."
            </div>
        </div>
    </div>
    
    <div class="right-container"> <!--container containing the date favorites button and rating-->
        <div id="datebox">
            <h3 id="Date">Date __/__/____</h3>
        </div>
        <button class="button" onclick="changeFavoritesButtonText(this)" >Add to Favorites</button>
        <div class="rating">
            <span class="star" data-value="1">&#9733;</span>
            <span class="star" data-value="2">&#9733;</span>
            <span class="star" data-value="3">&#9733;</span>
            <span class="star" data-value="4">&#9733;</span>
            <span class="star" data-value="5">&#9733;</span>
        </div>
    </div>
</div>
{% endblock %}