{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Include HomePage styles-->
    {% block cssfile %}{% endblock %}
    
    <!--Include HomePage scripts-->
    {% block jsfile %}{% endblock %}

    <!--Include FullCalendar JS library-->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js"></script>
</head>
<body>

<!---this shows some variables that are useful for to design the website-->
<!--<div class="window-size" id="windowSize"></div>-->

<!---This object is the navigation bar in the top of the website-->
<div class="navbar" id="navbar">
    <!---This is the Languages dropdown menu-->
    <div class="dropdown">
        <button class="dropbtn" href="frontend\Test document.html">Languages 
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
        <a href="{% url 'select_language' 'English' %}">English</a>
        <a href="{% url 'select_language' 'French' %}">French</a>
        <a href="{% url 'select_language' 'German' %}">German</a>
        </div>
    </div> 
    
    <!---This is the search bar-->
    <div type = "search" id="search">
        <form action="{% url 'index' %}" method="get">
            <input type="text" name="search" placeholder="Search.." value="{{request.GET.title}}">
        </form>
    </div> 
    
    <!--Home button-->
    <a href="{% url 'home' %}" id="home">Home</a>
    
    {% if not is_logged_in %}
    <!-- Links to show when the user is not logged in -->
        <a href="{% url 'users:login' %}" id="log_in">Log in</a>
        <a href="{% url 'users:register' %}">Register</a>
    {% else %}
    <!-- Links to show when the user is logged in -->
    <!--Add button-->
    <a href="{% url 'addword' %}"class="floatingButtonAdd"></a>

    <!---This is the Account dropdown menu-->
    <div id="accountButton" class="dropdown">
        <button  class="dropbtn" href="#account">Account 
        <i  class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
        <a href="{% url 'account' %}">Account</a>
        <a href="{% url 'quizzes' %}">Quizzes</a>
        <a href="{% url 'favorites' %}">Favorites</a>
        <!-- Logout Button -->
        <a href={% url "users:logout" %} class="logoutButton">Logout</a>
        </div>
    </div> 
    {% endif %}
</div>

<!--Calendar button-->
<a class="floatingButtonCalendar"></a>

<!--Calendar modal-->
<div id="calendarModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span> <!--Clickable 'X' element-->
        <div id="calendar"></div> <!--Calendar element-->
    </div>
</div>

{% block content %}{% endblock %}

</body>
</html>