{% extends "MasterTemplate.html" %}
{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'registerpagecss.css' %}"> 
{% endblock %}


{% block jsfile %}
<script type="text/javascript" src="{% static 'registerpagejs.js' %}" defer></script>
{% endblock %}


{% block content %}

<h2>Register Form</h2> <!--Uses the same structure as the log in page-->
<!--image container for psoitioning of the image-->
<div class="imgcontainer">
    <img src="profile.png" alt="Avatar" class="avatar">
</div>
<!--container with the elements to sign up-->
<div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" id="uname" required>

    <label for="psw"><b>Password</b></label>
    <div>&nbsp;</div>
    <div>Password should contain at least 12 characters.</div>
    <div> Use a combo of uppercase letters, lowercase letters, numbers, and even some special characters (!, @, $, %, ^, &, *, +, #)</div>
    <input type="password" placeholder="Enter Password" id="psw" required>
        
    <button type="submit" onclick= register()>Register</button> <!--function redirecting you to the accountpage-->
</div>

<div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn" onclick="goToHomePage()">Cancel</button> <!--cancel button sending you back to the homepage-->
</div>
{% endblock %}