{% extends "MasterTemplate.html" %}
{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'SearchResultsPageCss.css' %}"> 
{% endblock %}


{% block jsfile %}
<script type="text/javascript" src="{% static 'SearchResultsPageJS.js' %}" defer></script>
{% endblock %}


{% block content %}

<h1 id="NewWordTitle">Search Results</h1>

<p>This is a placeholder search results page</p>

<!--search result page containing demo of the search function-->
<div class="FavoritesContainer"> <!--favorite container containing link to favorite word page and text about the word-->
    <br>
    <a class="SearchResultTitle" href="../Favorite1Page/Favorite1Page.html">lodestone</a>
    <br>
    <br>
    <div class="TextContainer"> 
        When used literally, lodestone refers to the mineral magnetite, a magnetic iron ore. Lodestone is also used figuratively to refer to something that, like a magnet, strongly attracts things.
    </div>
</div>

<div class="FavoritesContainer"><!--favorite container containing link to favorite word page and text about the word-->
    <br>
    <a class="SearchResultTitle" href="../Favorite2Page/Favorite2Page.html">efficacious</a>
    <br>
    <br>
    <div class="TextContainer"> 
        efficacious is a formal word used to describe something—often a treatment, medicine, or remedy—that has the power to produce a desired result or effect. 
    </div>
</div>

<div class="FavoritesContainer"><!--favorite container containing link to favorite word page and text about the word-->
    <br>
    <a class="SearchResultTitle" href="../Favorite3Page/Favorite3Page.html">foment</a>
    <br>
    <br>
    <div class="TextContainer"> 
        To foment something, such as hostility or opposition, is to cause it, or try to cause it, to grow or develop. Foment is used synonymously with incite. 
    </div>
</div>
{% endblock %}