{% extends "MasterTemplate.html" %}
{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/accountpage.css' %}"> 
{% endblock %}


{% block jsfile %}
<script type="text/javascript" src="{% static 'js/accountpageJS.js' %}" defer></script>
{% endblock %}


{% block content %}

<!--form container keeps everything structured and together-->
<div class="form-container">
    <h1>Account</h1>
    <form action="" id="profileForm"> <!--makes a form which will be needed for the backend-->
        <div class="column-left" id="editableInfo"> <!--left column with all the account elements-->
            <label for="name">Name:</label>
            <p id="nameDisplay">{{ user.username }}</p>
        
            <label for="email">Email:</label>
            <p id="emailDisplay">{{ user.email }}</p>
            
            <div id="errorMessage" style="display:none; color: red;"></div>
            <button type="button" onclick="toggleEdit()">Change</button> <!--uses the change function to go from uneditable to editable-->
            <button type="button" onclick="saveChanges()">save</button> <!--uses the Savechanges function to go from editable to uneditable and save it-->
        </div>
        
        {% comment %}
        <div class="column-right"> <!--right column with the ability to choose a picture with the displayprofilepic-->
        <label for="photo">Change Profile Picture:</label>
        <input class="photoinput" type="file" name="photo" id="photo" onchange="displayProfilePic()">
        <img src="#" alt="Profile Picture" style="display: none;" id="profilePic">
        </div> 
        {% endcomment %}
    </form>
  </div>

{% endblock %}