{% extends "MasterTemplate.html" %}
{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/HomePageCss.css' %}"> 
{% endblock %}


{% block jsfile %}
<script type="text/javascript" src="{% static 'js/HomePageJS.js' %}" defer></script>
{% endblock %}


{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<!-- Heading for the homepage -->
<h1 style="text-align: center; font-size: 3.5em;">Vocab Vault</h1>

{% if word_of_the_day %}
    <h1 id="wordoftheday">{{ word_of_the_day.word }}</h1>
    <!-- Content box to center and position the information -->
    <div class="content">
        <div id="explainbox"> <!-- Box for the important information -->
            <h3> Pronunciation: </h3>
            <div>{{ word_of_the_day.phonetic }}</div>
            <h3> Part of speech: </h3>
            <div>{{ word_of_the_day.function }}</div>
            <h3> Meaning:</h3>
            <div class="description">
                <div class="definition">
                    {{ word_of_the_day.meaning }}
                </div>
            </div>
        </div>

        <div class="right-container"> <!-- Container containing the date, favorites button, and rating -->
            <div id="datebox">
                <h3 id="Date">{{ today_formatted }}</h3>
            </div>
            <button class="button" onclick="changeFavoritesButtonText(this)">Add to Favorites</button>
            <div class="rating">
                <span class="star" data-value="1">&#9733;</span>
                <span class="star" data-value="2">&#9733;</span>
                <span class="star" data-value="3">&#9733;</span>
                <span class="star" data-value="4">&#9733;</span>
                <span class="star" data-value="5">&#9733;</span>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}</p>
    {% else %}
    <p>You are not logged in</p>
{% endif %}
{% else %}
    <p>No word of the day found for today.</p>
{% endif %}
{% endblock %}